<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ia801506.us.archive.org/10/items/pubgm-0.19.0-2020-08-01-1886/PUBGM-0.19.0-2020-08-01-1886.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>RashidFarhad.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://assets.zyrosite.com/_SITE-ASSETS/dO2zonLPX9tPQEX4/pubg-mobile-kr-android.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.ig</string>
				<key>bundle-version</key>
				<string>0.19.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>
⚡PUBGM Global v0.19.0⚙️⚡
 
RashidFarhad Store📦

SnapChat: r4sh1d3 💙
Instagram: x_9xxz 🖤
Telegram:RashidFarhad ❤️
     			</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
